@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
  --animate-bounce-slow: bounce 2s infinite;
  --animate-shake: shake 0.5s ease;
  --animate-scroll: scroll 10s linear infinite;
  --animate-confetti: confettifall 3s ease infinite;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

@keyframes confettifall {
  0% { transform: translateX(-50%) translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateX(-50%) translateY(200px) rotate(360deg); opacity: 0; }
}

*{
  font-family: "Kanit", sans-serif;
}